.title svg {
    height: 5rem;
    margin-right: 2rem;
    /* top: 50%;
    transform:
        translateY(-50%) translateX(calc(-100%));
    margin-left: -2rem; */
}

.employes {
    margin-top: 2.5rem;
    column-count: 2;
}

.employes .letter {
    gap: 4rem
}

.employes .letter .letter-h {
    gap: 1.25rem;
    color: #555;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
}

.employes .letter .column {
    gap: 2rem;
}

@media (max-width: 960px) {
    .employes .letter .column {
        width: 100%;
    }

    .employes .letter {
        flex-direction: column;
        gap: 0rem;
    }
}

.employes .letter .letter-h h3 {
    font-weight: 700;
}

.employes .letter .letter-h .line {
    width: calc(120px);
    height: 2px;
    background-color: #dfdfdf;
}

.employes:not(.course) .person {


    border-radius: 0.625rem;
}

.employes .person .info {
    width: 100%;
}

.employes .person .image {
    width: 7.5rem;
    height: 7.5rem;
}

.employes .person img {
    height: 7.5rem;
    width: 7.5rem;
    max-width: none;
    object-fit: cover;
    border-radius: 0.625rem;
    border: 1px solid rgba(209, 209, 209, 0.647);
    box-shadow: 0 0.125px 0.3rem rgba(0, 0, 0, 0.1);
    background-clip: padding-box;
    object-position: top center;
}

.employes .person .info .text {
    gap: 1rem;
    width: 100%;
    padding-left: 1rem;
}

.employes .person .info .text ul li {
    margin-bottom: 0.5rem;
}

.employes .person .info .text p {
    color: #9EB4C0;
    width: 100%;
}

.employes:not(.course) .person a {

    padding: 0.75rem 2.5rem;
    color: var(--color-primary-dark);
    border-radius: 2rem;
    background: #F3F3F3;
    font-size: 1.25rem;
    overflow: hidden;
    transition: .3s;
    background: linear-gradient(45deg, var(--color-primary-dark)0% 50%, #F3F3F3 50% 100%);
    background-size: 240% 100%;
    /* Увеличиваем градиент в 2 раза */
    background-position: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
}


.employes:not(.course) .person a:hover {
    color: var(--color-f);
    background-position: 0% 0%;
    /* Сдвигаем градиент */
}

.employes .separate {
    height: 2px;
    background-color: transparent;
    margin: 2rem 0;
}

.employes.course .person .text h5 {
    font-weight: 600;
    font-size: 1.5rem;
}

.employes.course .person .text li a {
    text-decoration: underline;
}

.employes.course .person .text li svg {
    width: 1.5rem;
    display: block;
}

.employes.course .person .text li span {
    width: 90%;
}

.employes.course .person .text ul {
    gap: 0.2rem;
}

.employes.course .person .info {
    align-items: start;
}